/* Put your custom styles here and run `npm start` from the "src" directory on */

:root {
  --teal-blue: #33658a;
  --dark-slate-gray: #2f4858;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.strong-underline {
  border-bottom-style: solid;
  border-bottom-width: 0.14em;
}

.bg-header {
  background-color: var(--light-blue);
}

.bg-content {
  background-color: var(--washed-blue);
}

.site-title {
  color: var(--near-black);
  transition: color 0.15s ease-in;
}

.site-title:hover {
  color: var(--dark-slate-gray);
  transition: color 0.15s ease-in;
}

.dark-slate-gray {
  color: var(--dark-slate-gray);
}

.bg-content .nav-vari-color {
  color: var(--teal-blue);
  transition: color 0.15s ease-in;
}

.bg-content .nav-vari-color:hover {
  color: var(--dark-slate-gray);
  transition: color 0.15s ease-in;
}

.bg-header .nav-vari-color {
  color: var(--near-black);
  transition: color 0.15s ease-in;
}

.bg-header .nav-vari-color:hover {
  color: var(--dark-slate-gray);
  transition: color 0.15s ease-in;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

th {
  text-align: left;
}

@media screen and (min-width: 30em) {
  .f2-5-ns {
    font-size: 1.6rem;
  }
}
