/* Put your custom styles here and run `npm start` from the "src" directory on */

:root {
  --teal-blue: #33658A;
  --dark-slate-gray: #2F4858;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.strong-underline {
  border-bottom-style: solid;
  border-bottom-width: 0.14em;
} 

.teal-blue {
  color: var(--teal-blue);
}

.hover-teal-blue:hover {
  color: var(--teal-blue);
}

.dark-slate-gray {
  color: var(--dark-slate-gray);
}